.dark-mode, .light-mode {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.dark-mode {
  background-color: #282c34;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.mode-toggle-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 120px;
  font-size: 16px;
}

.mode-toggle-button:hover {
  font-size: 14px;
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  padding: 20px;

}

.card {
  background-color: #849cb14d;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card > * {
  margin-bottom: 10px;
}





/* MealsList.css */
.meals-list-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f0f0f0;
  max-width: 400px; /* Adjust max-width as per your design */
  margin: 20px auto;
}

.meal-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
  cursor: pointer;
}

.meal-button.clicked {
  background-color: #eeeeee;
  color: #888888;
  opacity: 0.7;
  text-decoration: line-through; /* Adds line through text when clicked */
}

.meal-button.clicked:hover {
  transform: scale(1.02); /* Optional: Scale effect on hover for clicked buttons */
}

.reset-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #eeeeee;
}

/* LightDark Component  */
.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
